@use 'sass:color';

// Color primitives
$c-gray-light: #eee;
$c-blue: #466DD0;

$color-primary: $c-blue;
$color-primary-light: color.adjust($color-primary, $lightness: 15%);
$color-primary-dark: color.adjust($color-primary, $lightness: -10%);

// Breakpoints (@media queries)

$bp-xxs: 21rem;
/* small mobile */
$bp-xs: 28rem;
/* mobile */
$bp-s: 48rem;
/* tablet */
$bp-m: 64rem;
/* desktop */
$bp-l: 80rem;
 /* large desktop */

// Typography
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$fs-s: 1rem;
$fs-m: 1.5rem;
$fs-l: 2rem;
$fs-xl: 3rem;
$fs-xxl: 4rem;

$font-size-h1: #{$fs-xl};
$font-size-h2: #{$fs-m};
$font-size-h3: #{$fs-xxl};
$font-size-h4: #{$fs-l};
$font-size-body: #{$fs-s};

// Layout
$content-max: 64rem;
$content-gutter: 1rem;


// theme switching
:root {
  --color-background: #{$c-gray-light};
  --color-text: #000;
}

html.dark {
  --color-background: #222;
  --color-text: #eee;
}
