@use 'scss-reset';
@use './base.scss' as *;

html {
  font-family: #{$font-family};
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  margin: 0;
  padding: 0;
}

// fonts
h1 {
  font-size: #{$font-size-h1};
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-size: #{$font-size-h2};
  font-weight: 650;
}

h3 {
  font-size: #{$font-size-h3};
  font-weight: 600;
}

h4 {
  font-size: #{$font-size-h4};
  font-weight: 500;
}

.content-container {
  width: min(100% - (2 * #{$content-gutter}), #{$content-max});
  margin-inline: auto;
}

.full-bleed {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
}
