@import './normalize.css';
@import './base.css';

html {
    font-family: var(--font-family);
    
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

.content-container {
  width: min(100% - (2 * var(--content-gutter)), var(--content-max));
  margin-inline: auto;
}

.full-bleed {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
}